{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Vor", "Kor", "Zor", "Sorak", "Vanor", "Vorlak", "Shrenkarak", "Orgshren", "Vorkoran", "Surkorak", "Vorshaw", "Kormork", "Jarlkor", "Jarkarvor", "Janrak", "Tuskbor", "Shawskry", "Torshren", "Thorkanlor", "Shawbrand", "Venshaw", "Venrak", "Yorkoran", "Brakvan", "Brakkor", "Brakshaw", "Mornshyren", "Morvor", "Moryren", "Mortor", "Morpokren", "Ven", "Sorshaw", "Ternork" ]
    ]
  ]
}
